services:
  todo-django-core-ms:
    container_name: todo-django-core-ms
    build:
      context: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - localstack
      - default
  db:
    image: postgres
    restart: always
    user: postgres
    networks:
      - default
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    env_file:
      - .docker.postgres.env
    ports:
      - "5430:5432"
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  localstack:
    name: localstack_localstack-net
    external: true