[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
motor = "*"
aiokafka = "*"
fastapi = "*"
uvicorn = "*"
pydantic-settings = "*"
pyjwt = "*"
cryptography = "*"
uvloop = "*"

[dev-packages]

[requires]
python_version = "3.13"
